{% extends 'layout.html' %}
{% load static %}
{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="display-4">{{ curso.name }}</h1>
            <img src="{{ curso.image.url }}" alt="Imagen de curso" class="img-fluid rounded mt-4" style="width: 50%;">
            <p class="lead mt-3">{{ curso.description }}</p>
            <p class="h4">Precio: ${{ curso.precio }}</p>

            {% if curso_done != none %}
            <button class="btn btn-primary btn-lg mt-3" onclick="sendCertify('{{ user.username }}', '{{ curso.name }}', '{{ today }}', '{{ user.email }}')">Obtener certificado</button>
            {% else %}
            <a href="{% url 'webpage:curso' curso.id %}" class="btn btn-primary btn-lg mt-3">Pagar el curso</a>
            {% endif %}
        </div>
    </div>
</div>

<script>
    async function sendCertify(username, curso, fecha, email) {
        var url = `http://127.0.0.1:8081/certificado/${username}/${curso}/${fecha}/${email}/`;

        try {
            const response = await fetch(url);
            const data = await response.json();

            console.log(data);
            alert(data.message);
        } catch (error) {
            console.error('Error al enviar la solicitud:', error);
            // Manejar el error según sea necesario
        }
    }
</script>

{% endblock %}
